<div class="center_container">
	<div class="orange_middle">
    <h3 class="flash">Because, Coffee.</h3>
      <div class="hide_it">
        <h3 class="secret">Why get up?</h3>
    	</div>
  </div>  
</div>