<div class="center_container">
		<div class="orange_middle">
			<h4>Log In</h4>
				<form method="post" action="/login" class="login">
					<label for="name" class="required">Username: </label>
					<input type="text" name="name">
					<label for="password_digest" class="required">Password: </label>
					<input type="password" name="password_digest">
					<label for="email">Email: </label>
					<input type="email" name="email">
					<input type="submit" value="Submit">
				</form>
		</div>
</div>