<div class="center_container">
		<div class="orange_middle">
			<h1>Log In</h1>
				<form method="post" action="/login" class="login">
					<label for="name" class="required">Username: </label>
					<input type="text" name="name">
					<label for="password_digest" class="required">Password: </label>
					<input type="password" name="password_digest">
					<label for="email">Email: </label>
					<input type="email" name="email">
					<input type="submit" value="Log In">
				</form>
	</div>
</div>