<div class="main_content">

	<form method="post" action="/category/article" class="post">
		<div class="row">
			<label for="title">Title: </label>
			<input type="text" name="title" />
		</div>

		<div class="insert_content">
			<label for="content">Content: </label>
			<textarea name="content" placeholder="Sip coffee and proceed."></textarea>
		</div>

		<div class="submit_content">
			<input type="submit" value="Submit" />
		</div>
	</form>
</div>