<div class="center_container">
	<div class="orange_middle">
        <h4>Sign Up!</h4>
            <form method="post" action="/signup" class="sign">
            	<label for="name">Username: </label>
            	<input type="text" name="name" placeholder="Username">
            	<label for="password_digest">Password: </label>
            	<input type="password" name="password_digest" placeholder="Password">
            	<label for="email">Email: </label>
            	<input type="email" name="email" placeholder="example@example.com">
            	<input type="submit" value="Submit">
            </form>
	</div>
</div>